:root {
  --blue: rgb(100, 143, 255);
  --yellow: rgb(255, 176, 0);
  --pink: rgb(220, 38, 127);
  --purple: rgb(120, 94, 240);
}

#labels>text,
#rounding>path {
  user-select: none;
}

.colorbutton {
  width: 100%;
  min-width: 10em;
}

.btn {
  width: 100%;
}


#resultfield {
  min-width: 2em;
}

.dartview {
  min-height: 120vh;
}

.colorCell {
  height: 100%;
  width: 100%;
}

.colorlabel {
  min-width: 9em;
}

#labels>text>tspan {
  letter-spacing: -1px;
}

.sector1{
fill: var(--blue);
}

.sector2{
fill: var(--yellow);
}

.sector3{
fill: var(--pink);
}

.sector4{
fill: var(--purple);
}

.cellcolor1{
  background-color: var(--blue);
}

.cellcolor2{
  background-color: var(--yellow);
}

.cellcolor3{
  background-color: var(--pink);
}

.cellcolor4{
  background-color: var(--purple);
}

.cellcolor0{
  background: none;
}

.sectorline{
  stroke:white;
  stroke-width: 0.75;
}

.sector0{
  fill:white
}

.sectormask{
  mask: url(#hatchMask);
}